@import "styles/variables.scss";

.weekWrapper {
  display: flex;
}

.oneDayWrapper {
  flex: 1;

  .dateBox {
    padding: 5px 0;
    border-bottom: $line;
    border-left: $line;
    color: $theme-date-number-gray;
    background-color: $theme-light-gray;
    text-align: center;
  }

  &:last-child {
    .dateBox,
    .contentBox {
      border-right: $line;
    }
  }

  .contentBox {
    height: 100%;
    min-height: 75px;
    border-bottom: $line;
    border-left: $line;

    &.dateInOtherMonth {
      background-color: $theme-light-gray;
    }

    &.todayContent {
      background-color: rgb(247, 228, 193);
    }
  }
}
