@import "styles/variables.scss";

.container {
  min-width: 800px;
  max-width: 1200px;
  margin: 150px auto;

  .monthTool {
    @include flexCenter;
    margin-bottom: 5px;

    .arrowIcon {
      font-size: 22px;
      color: $theme-date-number-gray;
      cursor: pointer;
    }

    .cureentMonth {
      width: 100px;
      margin: 0 10px;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      color: $theme-orange;
    }
  }
}

.loadingWrapper {
  @include flexCenter;
  width: 100vw;
  height: 100vh;
}
